<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name=".TC_trial"/>
      <class name=".TC_get"/>
      <class name=".TC_post"/>
      <class name=".paytmTest"/>
      <class name=".TC_put"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
